# IDE and build related files
/.idea
/.idea_modules/
/.classpath
/.factorypath
/.project
/.settings/
/target/

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
*.ipr

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

#Other files specific to the model
/output/
/classes/
input/input.h2.db
input/input.trace.db
/input/input.mv.db
src/main/resources/log4j/log.out



# eclipse specific
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
input/~$reg_socialcare.xlsx
input/InitialPopulations/compile/data/pool_indall.dta
input/~$scenario_uprating_factor.xlsx
/input/EUROMODoutput/*.txt
/input/InitialPopulations/*.csv
/input/population_IT.csv
/input/population_UK.csv
/input/*.db
input/tax_donor_population_UK.csv
input/input.mv.db
input/input.mv.db.new
input/input.mv.db.old
input/input.mv.db.original
dependency-reduced-pom.xml
input/EUROMODoutput/augmented1/
input/EUROMODoutput/original/
*.stswp
~$*.*
input/programming test database/DatabaseCountryYear.xlsx
input/programming test database/EUROMODpolicySchedule.xlsx
input/programming test database/input.mv.db
/input/databases
/input/EUROMODoutput/base
*.dta
src/main/java/simpaths/data/startingpop/DataParser.new
src/main/java/simpaths/data/startingpop/DataParser.old
input/EUROMODoutput/limit/*
input/InitialPopulations/limit/*
input/InitialPopulations/baseline/*
input/EUROMODoutput/baseline/*
.Rproj.user
/input/EUROMODoutput/test
/input/InitialPopulations/test

# macOS
.DS_Store

input/InitialPopulations/original/*
input/InitialPopulations/base/*
